{% load static %}
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url('/static/imagens/bk1.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*If you use .navbar with .smooth-scroll, use this code to avoid overlapping navigation to a header.*/

#test1::before,
#test2::before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}