{% load static %}
<!--<?php
    $db_connection = pg_connect("host=localhost dbname=CoimbraInk user=admin password=admin");
?>-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Base</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="{% static 'bootstrap/css/addons/datatables.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">CoimbraInk</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="navbar-collapse collapse show" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link fss-nav-item waves-effect waves-light active" href="#mapa">Mapa</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fss-nav-item waves-effect waves-light active" href="simulador">Simulador</a>
                    </li>


                </ul>
            </div>
            <!-- Collapsible content -->

        </nav>

        <div class="bg" style="background-image: url('/static/imagens/background.png');"></div>
        <div class="bg" style="background-color: white;">
              <div id="mapa">
              <!--<img src="https://maps.googleapis.com/maps/api/staticmap?center=40.186772,-8.415783&zoom=16&size=400x400&markers=color:red%7Clabel%7C40.186772,-8.415783&key=AIzaSyCrc4kHDhi7GOYb5IBKUn1mrj6MsX85eNg">-->
                <div class="parent-container d-flex">
                  <div class="container">
                      <div class="row mt-5 mb-5"></div>
                      <div class="row mt-5">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

{#                            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 450px;">#}
{#                                <table class="table" style="background-color: #F4F1F0"; id="myList">#}
                            <div class="container mt-3">
                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                <ul class="list-group" id="myList">
                                    {% for rep in reprografias %}
                                        <div class="panel panel-default list-group-item">
                                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#myList" data-target="#question0">
                                                 <h4 class="panel-title">
                                                    <a  class="ing">{{rep.nome}} {{rep.horario_abertura_semana_manha}}h-{{rep.horario_fecho_semana_tarde}}</a>
                                              </h4>

                                            </div>
                                            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                     <h5><span class="label label-primary">Answer</span></h5>

                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five <a href="http://jquery2dotnet.com/" class="label label-success">http://jquery2dotnet.com/</a> centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                        </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default list-group-item">
                                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#myList" data-target="#question1">
                                                 <h4 class="panel-title">
                                                    <a  class="ing">Olaaa</a>
                                              </h4>

                                            </div>
                                            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                     <h5><span class="label label-primary">Answer</span></h5>

                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five <a href="http://jquery2dotnet.com/" class="label label-success">http://jquery2dotnet.com/</a> centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                        </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default list-group-item">
                                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#myList" data-target="#question2">
                                                 <h4 class="panel-title">
                                                    <a  class="ing">Mariaaa</a>
                                              </h4>

                                            </div>
                                            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                     <h5><span class="label label-primary">Answer</span></h5>

                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five <a href="http://jquery2dotnet.com/" class="label label-success">http://jquery2dotnet.com/</a> centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                        </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row mt-5 mb-5"></div>
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-8">
                        <div id="map"></div>
                        <script>
                            var map;
                            var data_from_django = {{ lista|safe }};
                            function initMap(){
                                console.log(data_from_django);

                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: new google.maps.LatLng(40.201848, -8.415200),
                                    zoom: 13,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                });

                                var infoWindow = new google.maps.InfoWindow();

                                var marker, i;

                                for (i = 0; i < data_from_django.length; i++){
                                    console.log("Ponto " + i + ": (" + data_from_django[i][1] + ", " + data_from_django[i][2] + ")");
                                    marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(data_from_django[i][1], data_from_django[i][2]),
                                        map: map
                                    });

                                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                        return function() {
                                            infoWindow.setContent(data_from_django[i][0]);
                                            infoWindow.open(map, marker);
                                        }
                                    })(marker, i));
                                }
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrc4kHDhi7GOYb5IBKUn1mrj6MsX85eNg&callback=initMap" async defer></script>


                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col">
                  <!-- e para o redinho mexer -->
            {% block background %}
            {% endblock %}

        </div>



        <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myList a").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
        </div>



    </body>
</html>
