{% load static %}
<!--<?php
    $db_connection = pg_connect("host=localhost dbname=CoimbraInk user=admin password=admin");
?>-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Base</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Red Hat Text' rel='stylesheet'>
        <link href="{% static 'bootstrap/css/addons/datatables.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/simulador.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>

    <body>
        <!--Navbar-->


        <div class="bg background1">
             <nav class="navbar navbar-light purple lighten-4 mb-4">
                  <!-- Navbar brand -->
                  <div class="row" style="height: 140px;">
                    <!-- Collapse button -->
                  <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false"
                    aria-label="Toggle navigation" style="display: flex; align-self: flex-start;"><span class="white-text"><i class="fas fa-bars fa-1x"></i></span></button>

                  <!-- Collapsible content -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent41">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                       <li class="nav-item">
                            <a class="nav-link fss-nav-item waves-effect waves-light active" href="#mapa" style="color: #286895;">Mapa</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fss-nav-item waves-effect waves-light active" href="simulador" style="color: #286895;">Simulador</a>
                        </li>
                    </ul>
                    <!-- Links -->

                  </div>
                  <!-- Collapsible content -->
                  </div>


            </nav>
            <!--/.Navbar-->
            <div class="row" style="height: 550px;"></div>
            <div class="row" style="display: flex; justify-content: center;">
                <img src="/static/imagens/setas.png" id="scroll-img" style="width: 5%; transform: rotate(180deg); cursor:pointer;">
            </div>
        </div>
        <div class="bg background2">
              <div id="mapa">
                <div class="parent-container d-flex">
                  <div class="container">
                      <div class="row mt-5 mb-5"></div>
                      <div class="row mt-5">
                          <div class="col-md-2"></div>
                          <div class="col-md-9">
                              <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <input  class="form-control" id="myInput" type="text" placeholder="Search location.." style="background: #F4F1F0;">
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-control" style="background: #F4F1F0;">
                                                <div class="row">
                                                    <div class="col-md-4" style="width: 10px; background: #FFF; margin-left: 15px; box-shadow: 0px 0px 4px #000000; border-radius: 5px;">
                                                        <div class="row" id="orderList" style="display: flex; justify-content:space-around; align-items: center; cursor: pointer;" >
                                                            <a style="color: #286895; font-size:16px; font-weight: 600;">A-z</a>
                                                            <img src="/static/imagens/triangulo.png" style="width: 25%; height: 40%;">
                                                        </div>
                                                    </div>
                                                    <a id="orderLocal" style="margin-left: 20px; cursor: pointer;">Local</a>
                                                    <a style="margin-left: 20px;">€</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  <div class="table-wrapper-scroll-y my-custom-scrollbar mt-2">
                                      <ul class="list-group" id="myList">
                                          {% for rep in reprografias %}
                                              <div class="panel panel-default list-group-item mb-2">
                                                  <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#myList" data-target="#{{rep.nome}}">
                                                      <div class="panel-title">
                                                          <div class="row" id="infor">
                                                              <div class="col-md-4">
                                                                  <span class="rep-name" id="nomeReprografia">{{rep.nome}}</span>
                                                              </div>
                                                              <div class="col-md-4">
                                                                  <div class="row">
                                                                     <div class="col-md-1">
                                                                         <div class="row" style="height: 2px;"></div>
                                                                          <div class="row">
                                                                            <img class="clock-img" src="/static/imagens/relogio.png">
                                                                          </div>
                                                                     </div>
                                                                     <div class="col">
                                                                         <div class="row">
                                                                             <a  class="rep-info1">{{rep.horario_abertura_semana_manha}}h-{{rep.horario_fecho_semana_tarde}}h</a>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                             <div class="col-md-4">
                                                                 <div class="row" style="height: 1px;"></div>
                                                                 <div class="row">
                                                                    <img class="pin-img" src="/static/imagens/pin.png">
                                                                     <div class="col-ml-2"></div>
                                                                     <a  class="rep-info1" id="localizacaoReprografia">Celas</a>
                                                                 </div>
                                                                 <div class="row"></div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class="panel-body">
                                                         <p class="rep-info2">Preto e Branco: 0.05€/pagina COR: 0.10€/pagina</p>
                                                     </div>
                                                  </div>
                                                  <div id="{{rep.nome}}" class="panel-collapse collapse" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <p class ="rep-info2">Encardenamento: 3,50€</p>
                                                        <p class ="rep-info2">Website: www.sdfafdsaf.com</p>
                                                    </div>
                                                  </div>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row mt-5 mb-5"></div>
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-8">
                        <div id="map"></div>
                        <script>
                            var map;
                            var data_from_django = {{ lista|safe }};

                            function initMap(){
                                console.log(data_from_django);

                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: new google.maps.LatLng(data_from_django[0][1], data_from_django[0][2]),
                                    zoom: 13,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                });

                                var infoWindow = new google.maps.InfoWindow();

                                var marker, i;

                                for (i = 1; i < data_from_django.length; i++){
                                    console.log("Ponto " + i + ": (" + data_from_django[i][1] + ", " + data_from_django[i][2] + ")");
                                    marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(data_from_django[i][1], data_from_django[i][2]),
                                        map: map
                                    });

                                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                        return function() {
                                            infoWindow.setContent(data_from_django[i][0]);
                                            infoWindow.open(map, marker);
                                        }
                                    })(marker, i));
                                }
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrc4kHDhi7GOYb5IBKUn1mrj6MsX85eNg&callback=initMap" async defer></script>


                      </div>
                    </div>
                  </div>
              </div>
          </div>



            <div class="col">
                  <!-- e para o redinho mexer -->
            {% block background %}
            {% endblock %}

            </div>


            <div class="row" </div>"></div>


            <div class="row mt-5" style="height: 40px; background: #F4F1F0;">
                <div class="col">
                    <div class="row" style="height: 10px;"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <img class="logo-footer" src="/static/imagens/logo2.png">
                        </div>
                        <div class="col-md-2">
                            <a class="text-footer" href="http://facebook.com/CoimbraInk/">facebook.com/CoimbraInk/</a>
                        </div>
                        <div class="col-md-2">
                            <span class="text-footer">coimbraink@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>

            <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                  var filter, i=0;
                  filter = $(this).val().toLowerCase();
                  console.log(filter);
                  var list = document.getElementById("myList");

                  $.each($('#myList #infor'), function() {
                      var element = this;
                      var nome = element.getElementsByTagName("div")[0];
                      nome = nome.getElementsByTagName("span")[0];
                      var localizacao = element.getElementsByTagName("div")[10];
                      localizacao = localizacao.getElementsByTagName("a")[0];
                      nome = nome.textContent || nome.innerText;
                      localizacao = localizacao.textContent || localizacao.innerText;
                      var div = list.getElementsByClassName("list-group-item")[i];
                      if (nome.toLowerCase().indexOf(filter) > -1 || localizacao.toLowerCase().indexOf(filter)> -1) {
                          div.style.display = "";
                      }
                      else{
                          div.style.display = "none";
                      }
                      i++;
                  });
                });
            });

            $("#orderList").click( function() {
                $("#myList .list-group-item").detach().sort(function(a, b) {
                   return ($(b).find("#nomeReprografia").text().toUpperCase()) < ($(a).find("#nomeReprografia").text().toUpperCase()) ? 1 : -1;
                }).appendTo("#myList");
            });

            $("#orderLocal").click( function() {
                $("#myList .list-group-item").detach().sort(function(a, b) {
                   return ($(b).find("#localizacaoReprografia").text().toUpperCase()) < ($(a).find("#localizacaoReprografia").text().toUpperCase()) ? 1 : -1;
                }).appendTo("#myList");
            });

            $("#scroll-img").click(function() {
                $('html,body').animate({
                scrollTop: $("#mapa").offset().top},
                'slow');
             });
            </script>
        </div>
    </body>
</html>
