{% extends 'base.html' %}
{% load static %}

{% block background %}

	 <div class="row" style="height: 100px;"></div>
	 <div class="row">
		<div class="col-md-3" style="margin-left:5%">
			<input class="form-control" id="inputSearch" type="text" placeholder="Search.." style="background: #F4F1F0;">
			<div class="table-wrapper-scroll-y my-custom-scrollbar mt-2" style="background: #F4F1F0;border-radius:10px;height: 415px;">
				{% for i in '0123456789'|make_list %}
					<div class=" list-group-item mb-2 "  style="margin-left:2px;margin-right:15px;height: 45px;border-radius:20px;">
					 	<span class="rep-name">Ola </span>
					</div>
					 {% endfor %}
			</div>
		</div>
		<div class="col-md-5">
			<form method='post'>
			<div class="table-wrapper-scroll-y  mt-2" style="background: #F4F1F0;border-radius:10px;">
				<h2  style="margin-left: 20px;font-weight: bold;font-size: 30px;color: #286895;text-align:center">Nome Selecionado</h2>
				<div class="row">
					<div class="col-4">
						<p style="color: #286895;font-size: 20px;font-weight: bold;margin-left: 10px;">Tipo pagina: </p>
					</div>
					<div class="col">
						<select style="border-radius: 5px; box-shadow: 5px 5px 5px grey;">
						  <option value="A1">A1</option>
						  <option value="A2">A2</option>
						  <option value="A3">A3</option>
						  <option value="A4">A4</option>
						  <option value="A5">A5</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<p style="color: #286895;font-size: 20px;font-weight: bold;margin-left: 10px;">Nº paginas </p>
					</div>
					<div class="col">
						<input type="text" name="lname" style="height:30px;box-shadow: 5px 5px 5px grey;border: 1px solid #DCDCDC;border-radius: 5px;">
					</div>
				</div>
				<div class="row">
          <div class="col-4">
						<p style="color: #286895;font-size: 20px;font-weight: bold;margin-left: 10px;">Preto e Branco </p>
					</div>
					<div class="col">
						<label class="checkbox">
	              <input type="checkbox" value="preto_branco"/>
								<span style="font-size: 20px;"></span>
	          </label>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<p style="color: #286895;font-size: 20px;font-weight: bold;margin-left: 10px;">Cores </p>
					</div>
					<div class="col">
						<label class="checkbox">
	              <input type="checkbox" value="cores"/>
								<span style="font-size: 20px;"></span>
	          </label>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<p style="color: #286895;font-size: 20px;font-weight: bold;margin-left: 10px;">Encadernacao </p>
					</div>
					<div class="col">
						<label class="checkbox">
	              <input type="checkbox" value="encadernar"/>
								<span style="font-size: 20px;"></span>
	          </label>
					</div>

				</div>
				<div class="row">
          <div class="col-4">
						<p style="color: #286895;font-size: 20px;font-weight: bold;margin-left: 10px;">Plastificacao </p>
					</div>
					<div class="col">
						<label class="checkbox">
	              <input type="checkbox" value="plastificar"/>
								<span style="font-size: 20px;"></span>
	          </label>
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<p style="color: #286895;font-size: 20px;font-weight: bold;margin-left: 10px;">Total: </p>
					</div>
					<div class="col" >
						<p style="color:rgb(64, 64, 64);font-size: 20px;">14,00 € </p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button class=" list-group-item" style="font-size: 17px; border-radius:10px;font-weight: bold;color: #286895;" id="simular" type="submit">Simular</button>
					</div>
					<div class="col" align="right">
						<button class=" list-group-item" style="font-size: 17px; border-radius:10px;font-weight: bold;color: #286895;" id="adicionar" type="submit">Adicionar</button>
					</div>
				</div>
			</div>
			</form>
		</div>
		<div class="col-md-3">
			<div class="table-wrapper-scroll-y my-custom-scrollbar mt-2" style="background: #F4F1F0;border-radius:10px;">
				<h2  style="margin-left: 20px;font-weight: bold;font-size: 30px;color: #286895;">Documento</h2>
				<form method='post'>
				{% for i in '012'|make_list %}
						<label class="checkbox1">
                <input id={{ i }} type="checkbox"/>
                <span style="color:rgb(64, 64, 64);font-size: 23px;font-weight: bold;">ficheiro.pdf</span>
            </label>
					{% endfor %}
				<button class=" list-group-item" style="margin-left: 30%;font-size: 17px; margin-top: 50%;border-radius:10px;font-weight: bold;color: #286895;" id="novoDoc" type="submit">Novo Documento</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
